Pillow~=9.0.1
pip~=20.0.2
pyxdg~=0.27
bpython~=0.22.1
wheel~=0.34.2
Django~=4.0.2
sqlparse~=0.4.2
psycopg2~=2.9.3
asgiref~=3.5.0
curtsies~=0.3.10
Pygments~=2.11.2
cwcwidth~=0.1.6
greenlet~=1.1.2
requests~=2.27.1
blessings~=1.7
certifi~=2021.10.8
six~=1.16.0
idna~=3.3
urllib3~=1.26.8
setuptools~=44.0.0