{% extends "index.html" %}
{% block content %}
    <div class="mainDiv">
        <h2>Worker {{ object.name }} {{ object.surname }} details:</h2>
        <div class="tableDiv">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Age</th>
                    <th>Profession</th>
                    <th>Picture</th>
                    <th>Update</th>
                    <th>Remove</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ object.name }}</td>
                    <td>{{ object.surname }}</td>
                    <td>{{ object.age }}</td>
                    <td>{{ object.profession }}</td>
                    <td><img src="{{ object.picture.url }}" width="200" height="200" ></td>
                    <td>
                        <div class="downloadCSV">
                            <a class="btn btn-success" href="/update/{{ object.pk }}/">Update</a>
                        </div>
                    </td>
                    <td>
                        <div class="downloadCSV">
                            <a class="btn btn-success" href="/delete/{{ object.pk }}/" target="_blank">Remove</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}